<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% if title %}
    <title>{{title}} - Homeserver Interface</title>
    {% else %}
    <title>Homeserver Interface</title>
    {% endif %}
  </head>
  <body>
    <div class="div-nav">
        <nav>
            <ul class="list-inline">
                <li><a href="{{ url_for('index') }}" class="menu-link">Hjem</a></li>
                <li><a href="{{ url_for('video') }}" class="menu-link">Video</a></li>
            {% if 'logged_in' in session %}
            <li> <a href="{{ url_for('logout') }}" class="menu-link">Logg ut</a></li>
            {% else %}
                <li> <a href="{{ url_for('login') }}" class="menu-link">Logg inn</a></li>
                <li> <a href="{{ url_for('signup') }}" class="menu-link">Registrer</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
